body {
    font-family: 'Helvetica Neue';
    margin:0;
}

/* HEADER */
header {
    background:#707070;
    height:319.33px;
}

header .container h1, header .container h2, header .container p {
    color:#fff;
}

header h1 {
    font-size:20px;
    margin-bottom: 0;
}

header h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

header p {
    font-size: 14px;
    margin-bottom: 45px;
}
  
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
header .nav-link {
    display: block;
    padding: 20px;
    background: #fff;
    margin: 0 20px;
    border-radius: 4px;
    border: 1px solid #707070;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.16);
    font-size: 14px;
    color: #888888 !important;
}
  
header .nav-link:hover {
    background: linear-gradient(110deg,#ff4427,#ffba00);
    color: #fff !important;
}
  
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8.6px 32.63px !important;
}


/* FOOTER */

footer {
   background:#707070;
   min-height: 200.64px;
   display: flex !important;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

footer p {
    font-size:12px;
    color:#fff;
    margin-bottom: 2px;
}


@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes anim {
    to{
       transform: rotate(360deg);
    }
  }
  @keyframes colors {
     0%{
        background-image: radial-gradient(circle, #5f0caa, #da0076, #ff372e, #ef9f00,       #a8eb12);
        
    }
     25%{
        background-image: linear-gradient(to right top, #5f0caa, #da0076, #ff372e,         #ef9f00, #a8eb12);
       
    }
     50%{
        background-image: linear-gradient(to right, #5f0caa, #da0076, #ff372e,             #ef9f00, #a8eb12);
       
    }
     75%{
        background-image: linear-gradient(to right bottom, #5f0caa, #da0076, #ff372e,       #ef9f00, #a8eb12);
        
    }
     100%{
       background-image: linear-gradient(to bottom, #5f0caa, #da0076, #ff372e,            #ef9f00, #a8eb12);
        
    }
  }
  @keyframes anim1 {
      0%{
          transform: translateX(-100%);
      }
      100%{
          transform: translateX(100%);
      }
  }
  @keyframes anim2 {
      0%{
          transform: translateY(-100%);
      }
      100%{
          transform: translateY(100%);
      }
  }
  @keyframes anim3 {
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(-100%);
      }
  }
  @keyframes anim4 {
      0%{
          transform: translateY(100%);
      }
      100%{
          transform: translateY(-100%);
      }
  }

  @keyframes shimmer {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
  }
  
  /* DESIGN RESPONSIVO */

  @media (max-width: 600px) 
{
    header .container h1, header .container h2, header .container p {
        text-align:center;
    }

    .produtos .boxProduto {
        width: auto;
        max-width: 100%;
    }

    .produtos .row {
        padding: 0;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: 0px;
        width: 100%;
        text-align: center;
    }

    .navbar-dark .navbar-toggler {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .navbar-nav {
        margin-top: 50px;
    }

    header h1 {
        margin-top: 50px;
    }

    .compartilheNovidade .col-md-6 {
        margin-bottom: 20px;
    }

    footer p {
        text-align:center;
    }
    
}